*{
    box-sizing: border-box;
}

.btn{
    width: 130px;
    height: 45px;
    border: 1px solid black;
    background-color: aliceblue;
    color: black;
    border-radius: 6px;
}
.modal-wrapper_content{
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    opacity:1;
}
.modal-wrapper{
    
    align-items:center;
    justify-content:center; 
    position:absolute;
    top:0px; 
    left: 0;
    display:none;
    width:100% ; 
    height:100%;

   
}
.modal-wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 21, 21, 0.5); /* Цвет фона с прозрачностью для внешнего div */
    z-index: -1;
}

.modal-wrapper_buttons{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.searchBar input{
    padding: 5px;
   width: 400px;
   height: 40px;
   border-radius: 6px 0 0 6px;
   border-right: none;
   outline: none;
}

.searchButton{
    width: 60px;
    height: 40px;
    border: 2px solid black;
    
}

.main{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.infoPage{
   
    width:100% ;
     height:500px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-direction: column;
}

@media  (max-width: 500px) {
    .searchBar input{
        width: 210px;
    }
}
.infoWrapper{
    display: flex;
    flex-direction: column;
}
